In [ ]:
/* https://www.hackerrank.com/challenges/select-all-sql */
SELECT * FROM CITY

In [ ]:
/* https://www.hackerrank.com/challenges/select-by-id/ */
SELECT * FROM CITY
WHERE ID = 1661

In [ ]:
/* https://www.hackerrank.com/challenges/revising-the-select-query */
SELECT * FROM CITY
WHERE POPULATION > 100000
AND COUNTRYCODE = 'USA'

In [ ]:
/* https://www.hackerrank.com/challenges/revising-the-select-query-2 */
SELECT NAME FROM CITY
WHERE POPULATION > 120000 AND
COUNTRYCODE = 'USA'

In [ ]:
/* https://www.hackerrank.com/challenges/japanese-cities-attributes/ */
SELECT * FROM CITY
WHERE COUNTRYCODE  = 'JPN'

In [ ]:
/* https://www.hackerrank.com/challenges/japanese-cities-name/ */
SELECT NAME FROM CITY
WHERE COUNTRYCODE  = 'JPN'

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-1/ */
SELECT CITY,STATE FROM STATION;

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-2/ */
SELECT ROUND(SUM(LAT_N),2), ROUND(SUM(LONG_W),2) FROM STATION;

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-3 */
SELECT DISTINCT CITY FROM STATION
WHERE MOD(ID,2) = 0

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-4/ */
SELECT(
    COUNT(CITY) - COUNT(DISTINCT CITY)
) FROM STATION

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-5/ */
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) DESC, CITY ASC LIMIT 1;
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) ASC, CITY ASC LIMIT 1;

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-6/ */
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '^(a|e|i|o|u)';

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-7/ */
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '(a|e|i|o|u)$';

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-8/ */
SELECT DISTINCT CITY FROM STATION
WHERE CITY REGEXP '^(a|e|i|o|u)' AND
CITY REGEXP '(a|e|i|o|u)$';

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-9/ */
SELECT DISTINCT CITY FROM STATION
WHERE NOT CITY REGEXP '^(a|e|i|o|u)';

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-10/ */
SELECT DISTINCT CITY FROM STATION
WHERE NOT CITY REGEXP '(a|e|i|o|u)$';

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-11/ */
SELECT DISTINCT CITY FROM STATION
WHERE NOT CITY REGEXP '^(a|e|i|o|u)' OR NOT
CITY REGEXP '(a|e|i|o|u)$';

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-12/ */
SELECT DISTINCT CITY FROM STATION
WHERE NOT CITY REGEXP '^(a|e|i|o|u)' AND NOT
CITY REGEXP '(a|e|i|o|u)$';

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-13/ */
SELECT TRUNCATE(SUM(LAT_N), 4) FROM STATION
WHERE LAT_N BETWEEN 38.7880 AND 137.2345;

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-14/ */
SELECT TRUNCATE(MAX(LAT_N),4) FROM STATION
WHERE LAT_N < 137.2345;

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-15/ */
SELECT ROUND(LONG_W, 4) FROM STATION
WHERE LAT_N = (SELECT MAX(LAT_N) FROM STATION WHERE LAT_N < 137.2345)

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-16/ */
SELECT ROUND(MIN(LAT_N),4) FROM STATION
WHERE LAT_N > 38.7780;

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-17/ */
SELECT ROUND(LONG_W,4) FROM STATION
WHERE LAT_N = (SELECT MIN(LAT_N) FROM STATION WHERE LAT_N > 38.7780);

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-18 */
SELECT ROUND(
    ABS(MAX(LAT_N) - MIN(LAT_N)) + 
    ABS(MAX(LONG_W) - MIN(LONG_W))
    ,4) 
    FROM STATION;

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-19 */
SELECT TRUNCATE(SQRT(
    POWER((MAX(LAT_N) - MIN(LAT_N)),2) + 
    POWER((MAX(LONG_W) - MIN(LONG_W)),2)),4)
FROM STATION;

In [ ]:
/* https://www.hackerrank.com/challenges/more-than-75-marks/ */
SELECT Name from STUDENTS
WHERE Marks > 75
ORDER BY SUBSTRING(Name, -3, 3) ASC,
ID ASC;

In [ ]:
/* https://www.hackerrank.com/challenges/name-of-employees/ */
SELECT Name FROM Employee
ORDER BY Name ASC;

In [ ]:
/* https://www.hackerrank.com/challenges/salary-of-employees/ */
SELECT name FROM Employee
WHERE salary > 2000 AND
months < 10
ORDER BY employee_id ASC;

In [ ]:
/* https://www.hackerrank.com/challenges/what-type-of-triangle/ */
SELECT
CASE
    WHEN A + B <= C OR A + C <= B OR B + C <= A THEN 'Not A Triangle' 
    WHEN A = B AND B = C THEN "Equilateral"
    WHEN A = B OR A = C OR B = C THEN "Isosceles"
    ELSE "Scalene"
END AS triangle_sides
FROM TRIANGLES;

In [ ]:
/* https://www.hackerrank.com/challenges/the-pads/ */
SELECT CONCAT(Name, "(",SUBSTRING(Occupation, 1, 1),")") AS Namelist 
FROM OCCUPATIONS
ORDER BY Namelist;

SELECT
CONCAT ("There are a total of ",count(Occupation)," ", LOWER(Occupation),"s.")
FROM OCCUPATIONS
GROUP BY Occupation
ORDER BY count(Occupation), Occupation ASC;

In [ ]:
/* https://www.hackerrank.com/challenges/occupations/ */
/* 
Case này chia làm 3 phần:
Phần 1: Tạo ra một bảng có cấu trúc là | Occupation | Name | Count number |
---
SELECT
        Occupation,
        Name,
        ROW_NUMBER() OVER (PARTITION BY Occupation ORDER BY Name ASC) as NameOrder
FROM Occupations
---
Trong đó có cấu trúc ROW_NUMBER() OVER (PARTITION BY <Feature> ORDER BY <Feature> ASC) as <Alias nào đó>
======

Phần 2: Tạo ra một bảng có cấu trúc là | STT | Doctor | Professor | Singer | Actor | từ bảng 1 ở trên. 
(???) Mình không hiểu phần này tại sao phải dùng MAX?
---
SELECT
        NameOrder,
        MAX(CASE Occupation WHEN 'Doctor' THEN Name END) AS Doctor,
        MAX(CASE Occupation WHEN 'Professor' THEN Name END) AS Professor,
        MAX(CASE Occupation WHEN 'Singer' THEN Name END) AS Singer,
        MAX(CASE Occupation WHEN 'Actor' THEN Name END) AS Actor
    FROM(Bảng 1) AS NameLists GROUP BY NameOrder
---
======

Phần 3: Lựa từ cái bảng phần 2 4 cột sau thôi và bỏ cột đầu
---
SELECT
    Doctor,
    Professor,
    Singer,
    Actor
FROM() AS Names
----
*/ 

SELECT
    Doctor,
    Professor,
    Singer,
    Actor
FROM(
    SELECT
        NameOrder,
        MAX(CASE Occupation WHEN 'Doctor' THEN Name END) AS Doctor,
        MAX(CASE Occupation WHEN 'Professor' THEN Name END) AS Professor,
        MAX(CASE Occupation WHEN 'Singer' THEN Name END) AS Singer,
        MAX(CASE Occupation WHEN 'Actor' THEN Name END) AS Actor
    FROM(
        SELECT
            Occupation,
            Name,
            ROW_NUMBER() OVER (PARTITION BY Occupation ORDER BY Name ASC) as NameOrder
        FROM Occupations
    )AS NameLists GROUP BY NameOrder
)AS Names

In [ ]:
/* https://www.hackerrank.com/challenges/binary-search-tree-1/ */
/*
1. SQL EXISTS: 
    - Dùng để check existence của record nào đó trong sub query
    - Return TRUE nếu có 1 hoặc nhiều hơn 1 RECORDS
    - Syntax: WHERE EXISTS (SELECT column_name FROM table_name WHERE condition);

2. This query use 2 aliases for the same table (BST). Because the BST table is used for different purposes,
two different aliases are used to distinguish between them.

3. SELECT CLAUSE: 
SELECT BST.P FROM BST 
= SELECT P FROM BST
= SELECT B.P FROM BST B
*/
SELECT BT.N,
CASE
    WHEN BT.P IS NULL THEN 'Root'
    WHEN EXISTS (SELECT B.P FROM BST B WHERE B.P = BT.N) THEN 'Inner'     
    ELSE 'Leaf'
END
FROM BST AS BT
ORDER BY BT.N

In [ ]:
/* https://www.hackerrank.com/challenges/the-company/ 
Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions

The requirement of the exercise is clear:
Select company_code, founder, total count of [lead managers, senior managers, managers, employees]
Ordered by ASC
Pay attention to duplicates


#### 1. SELECT company_code, founder: I started with basic SELECT first:
```SQL
SELECT c.company_code, c.founder
FROM Company c
```
#### 2. SELECT total count of lead managers, pay attention to duplicates with: 
Although I don't understand why it throw an error if you don't put GROUP BY in. <br>
My guess is that if you only throw COUNT(DISTINCT lm.lead_manager_code) without GROUP BY. It would just count all distinct values and return only 1 value - the count, which is 100. It would cause error because the index difference. <br><br>
Because the index is company_code, I need to set GROUP BY so that it count by each groups.
I also ensure that it only count where company code of each table matches.

```SQL
SELECT c.company_code, c.founder,
COUNT(DISTINCT lm.lead_manager_code)

FROM Company c, Lead_Manager lm

WHERE c.company_code = lm.company_code

GROUP BY c.company_code, c.founder
ORDER BY c.company_code ASC
```
#### 3. Apply the same for the rest, only count when company_code matches
```SQL
SELECT c.company_code, c.founder,
COUNT(DISTINCT lm.lead_manager_code),
COUNT(DISTINCT sm.senior_manager_code),
COUNT(DISTINCT m.manager_code),
COUNT(DISTINCT e.employee_code)
FROM Company c, Lead_Manager lm, Senior_Manager sm, Manager m, Employee e

WHERE c.company_code = lm.company_code AND
c.company_code = sm.company_code AND
c.company_code = m.company_code AND
c.company_code = e.company_code

GROUP BY c.company_code, c.founder
ORDER BY c.company_code ASC
```
*/
SELECT c.company_code, c.founder,
COUNT(DISTINCT lm.lead_manager_code),
COUNT(DISTINCT sm.senior_manager_code),
COUNT(DISTINCT m.manager_code),
COUNT(DISTINCT e.employee_code)
FROM Company c, Lead_Manager lm, Senior_Manager sm, Manager m, Employee e

WHERE c.company_code = lm.company_code AND
c.company_code = sm.company_code AND
c.company_code = m.company_code AND
c.company_code = e.company_code

GROUP BY c.company_code, c.founder
ORDER BY c.company_code ASC

In [ ]:
/* https://www.hackerrank.com/challenges/revising-aggregations-the-average-function/ */
SELECT AVG(POPULATION) FROM CITY
WHERE DISTRICT = "California"

In [ ]:
/* https://www.hackerrank.com/challenges/average-population */
SELECT ROUND(AVG(POPULATION)) FROM CITY

In [ ]:
/* https://www.hackerrank.com/challenges/japan-population */
SELECT SUM(POPULATION) FROM CITY
WHERE COUNTRYCODE = "JPN";

In [ ]:
/* https://www.hackerrank.com/challenges/population-density-difference/problem */
SELECT (MAX(POPULATION) - MIN(POPULATION)) FROM CITY

In [ ]:
/* https://www.hackerrank.com/challenges/the-blunder */
SELECT CEIL(AVG(Salary)-AVG(REPLACE(Salary,'0','')))
FROM EMPLOYEES

In [ ]:
/* https://www.hackerrank.com/challenges/weather-observation-station-20/problem */
SELECT ROUND(st.LAT_N, 4)
FROM STATION AS st
WHERE (SELECT COUNT(LAT_N) FROM STATION WHERE LAT_N < st.LAT_N) = (SELECT COUNT(LAT_N) FROM STATION WHERE LAT_N > st.LAT_N);

In [ ]:
/* https://www.hackerrank.com/challenges/revising-aggregations-sum/ */
SELECT SUM(POPULATION)
FROM CITY
WHERE DISTRICT = "California"

In [ ]:
/* https://www.hackerrank.com/challenges/revising-aggregations-the-count-function/problem */
SELECT COUNT(NAME)
FROM CITY
WHERE POPULATION > 100000

In [ ]:
/* https://www.hackerrank.com/challenges/african-cities */
SELECT CITY.NAME FROM CITY 
INNER JOIN COUNTRY ON CITY.COUNTRYCODE = COUNTRY.CODE 
WHERE COUNTRY.CONTINENT = 'Africa';

In [ ]:
/* https://www.hackerrank.com/challenges/average-population-of-each-continent */
SELECT COUNTRY.CONTINENT,
FLOOR(AVG(CITY.POPULATION)) FROM CITY
INNER JOIN COUNTRY ON CITY.COUNTRYCODE = COUNTRY.CODE 
GROUP BY COUNTRY.CONTINENT

In [ ]:
/* https://www.hackerrank.com/challenges/the-report/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
SELECT CASE
         WHEN G.grade > 7 THEN S.name
         ELSE NULL
       end AS names,
       G.grade,
       S.marks
FROM   students S
       JOIN grades G
         ON S.marks BETWEEN G.min_mark AND G.max_mark
ORDER  BY G.grade DESC,
          names ASC,
          S.marks ASC;

In [ ]:
/* https://www.hackerrank.com/challenges/full-score */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
SELECT H.hacker_id, 
       H.name 
FROM   submissions S 
       JOIN challenges C 
         ON S.challenge_id = C.challenge_id 
       JOIN difficulty D 
         ON C.difficulty_level = D.difficulty_level 
       JOIN hackers H 
         ON S.hacker_id = H.hacker_id 
            AND S.score = D.score 
GROUP  BY H.hacker_id, 
          H.name 
HAVING Count(S.hacker_id) > 1 
ORDER  BY Count(S.hacker_id) DESC, 
          S.hacker_id ASC;

In [ ]:
/* https://www.hackerrank.com/challenges/harry-potter-and-wands/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
SELECT a.id, 
       b.age, 
       a.coins_needed, 
       a.power 
FROM   wands a 
       JOIN wands_property b 
         ON a.code = b.code 
WHERE  b.is_evil = 0 
       AND a.coins_needed = (SELECT Min(a1.coins_needed) 
                             FROM   wands a1 
                                    JOIN wands_property b1 
                                      ON a1.code = b1.code 
                             WHERE  b.age = b1.age 
                                    AND a.power = a1.power) 
ORDER  BY a.power DESC, 
          b.age DESC;

In [ ]:
/* https://www.hackerrank.com/challenges/challenges/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
select H.hacker_id, H.name, count(C.challenge_id) as total_count
from Hackers H join Challenges C
on H.hacker_id = C.hacker_id
group by H.hacker_id, H.name
having total_count = 
(
select count(temp1.challenge_id) as max_count
    from challenges temp1
    group by temp1.hacker_id
    order by max_count desc
    limit 1
)
or total_count in
(
    select distinct other_counts from (
select H2.hacker_id, H2.name, count(C2.challenge_id) as other_counts
from Hackers H2 join Challenges C2
on H2.hacker_id = C2.hacker_id
group by H2.hacker_id, H2.name
) temp2
    group by other_counts
having count(other_counts) =1)
order by total_count desc, H.hacker_id

In [ ]:
/* https://www.hackerrank.com/challenges/contest-leaderboard/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
SELECT h.hacker_id, h.name, SUM(MAX_SCORE.t1) as total_score
FROM Hackers h inner join 
(
    SELECT MAX(s.score) as t1, s.hacker_id  
    FROM Submissions s
    GROUP BY s.challenge_id, s.hacker_id
    HAVING t1 > 0
) AS MAX_SCORE
ON h.hacker_id = MAX_SCORE.hacker_id
GROUP BY h.hacker_id, h.name
ORDER BY total_score DESC, hacker_id ASC

In [ ]:
/* https://www.hackerrank.com/challenges/asian-population/problem */
SELECT SUM(CITY.POPULATION) FROM CITY
INNER JOIN COUNTRY ON CITY.COUNTRYCODE = COUNTRY.CODE 
WHERE COUNTRY.CONTINENT = "Asia"

In [ ]:
/* https://www.hackerrank.com/challenges/sql-projects/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
SELECT s.Proj_Start_Date, min(e.Proj_End_Date) as Real_Proj_End_Date 
FROM
(SELECT Start_Date as Proj_Start_Date FROM Projects WHERE Start_Date NOT IN (SELECT End_Date FROM Projects)) s,
(SELECT End_Date as Proj_End_Date FROM Projects WHERE End_Date NOT IN (SELECT Start_Date FROM Projects)) e
WHERE s.Proj_Start_Date < e.Proj_End_Date
GROUP BY s.Proj_Start_Date
ORDER BY DATEDIFF(min(e.Proj_End_Date), s.Proj_Start_Date) ASC, s.Proj_Start_Date ASC;

In [ ]:
/* https://www.hackerrank.com/challenges/placements/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
Select S.Name
from Students S inner join Friends f
on S.ID = f.ID
inner join Packages p
on f.ID = p.ID
inner join Packages fp
on f.Friend_ID = fp.ID
where fp.Salary > p.Salary
order by fp.Salary;

In [ ]:
/* https://www.hackerrank.com/challenges/symmetric-pairs/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
SELECT X, Y FROM FUNCTIONS F1
    WHERE EXISTS(SELECT * FROM FUNCTIONS F2 WHERE F2.Y = F1.X
    AND F2.X = F1.Y AND F2.X > F1.X) AND (X != Y)
UNION
SELECT X,Y FROM FUNCTIONS F1 WHERE X = Y AND 
    ((SELECT COUNT(*) FROM FUNCTIONS WHERE X = F1.X AND Y = F1.X) > 1)
      ORDER BY X;

In [ ]:
/* https://www.hackerrank.com/challenges/draw-the-triangle-1 */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
SET @TEMP:=21; 
SELECT REPEAT('* ', @TEMP:= @TEMP - 1) 
FROM INFORMATION_SCHEMA.TABLES;

In [ ]:
/* https://www.hackerrank.com/challenges/draw-the-triangle-2/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
SET @TEMP:=0; 
SELECT REPEAT('* ', @TEMP:= @TEMP + 1) 
FROM INFORMATION_SCHEMA.TABLES
WHERE @TEMP < 20;

In [ ]:
/* https://www.hackerrank.com/challenges/print-prime-numbers/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
/*
Working Platform:- Oracle
*/
SET SERVEROUTPUT ON;
DECLARE
    COUNTER NUMBER;
    K NUMBER;
    RESULT CLOB;
BEGIN
    RESULT := '';
    FOR N IN 2..1000 LOOP
    COUNTER := 0;
    K := FLOOR(N/2);
    FOR i IN 2..K LOOP
        IF(MOD(N,i)=0) THEN
          COUNTER :=1;
        END IF;
    END LOOP;
    IF (COUNTER = 0) THEN
       RESULT := RESULT||N||'&';
    END IF;
    END LOOP;
    DBMS_OUTPUT.PUT_LINE(SUBSTR(RESULT,0,length(RESULT)-1));
END;
/

In [ ]:
/* https://www.hackerrank.com/challenges/15-days-of-learning-sql */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
/*
Working Platform:- MySQL
*/
SELECT SUBMISSION_DATE,
(SELECT COUNT(DISTINCT HACKER_ID)  
 FROM SUBMISSIONS S2  
 WHERE S2.SUBMISSION_DATE = S1.SUBMISSION_DATE AND    
(SELECT COUNT(DISTINCT S3.SUBMISSION_DATE) 
 FROM SUBMISSIONS S3 WHERE S3.HACKER_ID = S2.HACKER_ID AND S3.SUBMISSION_DATE < S1.SUBMISSION_DATE) = DATEDIFF(S1.SUBMISSION_DATE , '2016-03-01')),
(SELECT HACKER_ID FROM SUBMISSIONS S2 WHERE S2.SUBMISSION_DATE = S1.SUBMISSION_DATE 
GROUP BY HACKER_ID ORDER BY COUNT(SUBMISSION_ID) DESC, HACKER_ID LIMIT 1) AS TMP,
(SELECT NAME FROM HACKERS WHERE HACKER_ID = TMP)
FROM
(SELECT DISTINCT SUBMISSION_DATE FROM SUBMISSIONS) S1
GROUP BY SUBMISSION_DATE;

In [ ]:
/* https://www.hackerrank.com/challenges/interviews/problem */
/* Reference: https://github.com/Thomas-George-T/HackerRank-SQL-Challenges-Solutions */
/*
Working Platform:- MySQL
*/
SELECT A.CONTEST_ID, A.HACKER_ID, A.NAME, 
        SUM(TOTAL_SUBMISSIONS) AS TOTAL_SUBMISSIONS, 
        SUM(TOTAL_ACCEPTED_SUBMISSIONS) AS TOTAL_ACCEPTED_SUBMISSIONS,
        SUM(TOTAL_VIEWS) AS TOTAL_VIEWS,
        SUM(TOTAL_UNIQUE_VIEWS) AS TOTAL_UNIQUE_VIEWS
FROM CONTESTS AS A
LEFT JOIN COLLEGES AS B
    ON A.CONTEST_ID = B.CONTEST_ID
LEFT JOIN CHALLENGES AS C
    ON B.COLLEGE_ID = C.COLLEGE_ID 
LEFT JOIN (SELECT CHALLENGE_ID, SUM(TOTAL_VIEWS) AS TOTAL_VIEWS, 
                  SUM(TOTAL_UNIQUE_VIEWS) AS TOTAL_UNIQUE_VIEWS
           FROM VIEW_STATS
           GROUP BY CHALLENGE_ID) AS D 
    ON C.CHALLENGE_ID = D.CHALLENGE_ID 
LEFT JOIN (SELECT CHALLENGE_ID, SUM(TOTAL_SUBMISSIONS) AS TOTAL_SUBMISSIONS, 
                  SUM(TOTAL_ACCEPTED_SUBMISSIONS) AS TOTAL_ACCEPTED_SUBMISSIONS
           FROM SUBMISSION_STATS
           GROUP BY CHALLENGE_ID) AS E
    ON C.CHALLENGE_ID = E.CHALLENGE_ID
GROUP BY A.CONTEST_ID, A.HACKER_ID, A.NAME
HAVING (TOTAL_SUBMISSIONS + TOTAL_ACCEPTED_SUBMISSIONS + TOTAL_VIEWS + TOTAL_UNIQUE_VIEWS) > 0 
ORDER BY A.CONTEST_ID;